<div class="container">
  <div class="row">
    <div class = "col-xl-2 offset-xl-1 mt-4 mb-4">
      <h4 style = "background-color: #d3d3d3;">マイページ</h4>
    </div>
  </div>
  <div class = "row">
    <div class = "col-xl-1 mt-4 mb-4 mr-5">
    <%= image_tag @user.image, style: "width: 120px; height: 120px;"%>
    </div>
    <div class = "col-xl-8">
      <table class="table">
        <tr>
          <th>登録情報</th>
          <td>
          <% if @user.email == "guest@example.com" %>
            ゲストユーザーは編集できません
          <% else %>
            <%=link_to edit_user_path(@user.id), class: "btn btn-success ml-5" do %>
              編集する
            <% end %>
          <% end %>
          </td>
        </tr>
        <tr>
          <th>ユーザー名</th>
          <td>
            <%= @user.name %>
          </td>
        </tr>
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
      </table>
    </div>
  </div>
</div>