<div class="container">
  <div class="row">
    <div class = "col-xl-2 offset-xl-1 mt-4 mb-4">
      <h4 style = "background-color: #d3d3d3;">マイページ</h4>
    </div>
  </div>
  <%= image_tag @user.image, style: "width: 200px; height: 200px;"%>
  <div class = "col-xl-4">
    <table class="table">
      <tr>
        <th>登録情報</th>
        <td>
          <%=link_to edit_user_path(@user), class: "btn btn-success ml-5" do %>
            編集する
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <div class = "col-xl-8">
    <table class="table">
      <tr>
        <th>ユーザー名</th>
        <td>
          <%= @user.name %>
        </td>
      </tr>

        <th>メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
    </table>
  </div>
</div>